/*
* @Author: 张秀荣
* @Date:   2017-08-21 19:26:59
* @Last Modified by:   张秀荣
* @Last Modified time: 2017-10-08 23:46:55
*/
@import url('base.css');
body{
	background: #F5F5F5;
}
.Topsc{
	width: 100%;
	height: 50px;
	background: #CC0000;
	position: fixed;
	top: -50px;
	z-index: 1;
	color: white;
	font-size: 24px;
	line-height: 50px;
	/* padding-left: 100px; */
}
.Topsc span{
	margin-left: -680px;
}
.Topsc input{
	margin-left: 400px;
	margin-top: 5px;
	width: 600px;
	display: block;
	outline: none;
	border: none;
}
header{
	width: 100%;
	height: 32px;
	/* background: black; */
	border-bottom: 1px solid gray;
}
main{
	width: 1230px;
	height: 32px;
	background: #F5F5F5;
	margin: 0 auto;
	font-size: 12px;
	color: #999999
}
.main-left{
	float: left;
	width: 210px;
	height: 100%;
	/* background: blue; */
	margin-right: 300px;
}
.main-right{
	float: left;
	width: 700px;
	height: 100%;
	/* background: blue; */
}
.main-left a:hover{
	color: #c40000;
}
.miao,.login,.reg{
	height: 100%;
	line-height: 32px;
	margin-right: 20px;
	float: left;
	color: #999999;
}
.main-left .reg{
	margin-right: 0px;
	
}
.wode div,.wode i,.zhichi div,.zhichi i,.shoucangjia div,.shoucangjia i{
	float: left;
}
.daohang div,.daohang i{
	float: left;
}
.daohang i:first-of-type{
	margin-right: 6px;
}
.main-right>a,.main-right>div,.main-right>span{
	float: left;
	font-size: 12px;
	margin-right: 15px;
	margin-top: 7px;
	color: black;
}
.main-right a:last-of-type{
	margin-right: 0px;
}
.main-right .wode{
	margin-right: 17px;
}
.main-right a{
	font-size: 12px;
	color: #999999
}
.main-right a:hover div{
	color: #c40000;
}
.wode:hover .icon-sanjiao1{
	transform: rotate(180deg);
}
.shoucangjia:hover .icon-sanjiao1{
	transform: rotate(180deg)
}
.zhichi:hover .icon-sanjiao1{
	transform: rotate(180deg)
}
.daohang:hover .icon-sanjiao1{
	transform: rotate(180deg)
}
/* 搜索 */
.search{
	width: 1230px;
	height: 130px;
	/* background: black; */
	margin: 0 auto;
	overflow: hidden;
}
.searchtu{
	width: 210px;
	height: 130px;
	/* margin-top: 20px; */
	float: left;
}
.searchkuang{
	width: 626px;
	height: 40px;
	background: red;
	float: left;
	margin-top: 38px;
	margin-left: 172px;
}
input{
	width: 428px;
	height: 36px;
	border: 2px solid #C40000;
	float: left;
	padding-left: 5px;
	outline: none;
}
.sousuo{
	font-size: 20px;
	color: white;
	background: #C40000;
	float: right;
	width: 189px;
	height: 100%;
	text-align: center;
	line-height: 40px;

}
.resou li{
	float: left;

}
.resou li a{
	padding-left: 14px;
	padding-right: 14px;
	font-size: 14px;
	border-right: 1px solid #cccccc;
	color: black;
} 
.resou li:first-child a{
	padding-left: 0;
	color: #DD2727
}
.resou li:last-child a{
	border: 0;
	padding-right: 0;
}
.resou li:nth-child(4) a,.resou li:nth-child(7) a,.resou li:nth-child(9) a{
	color: #DD2727;
}
/* 导航 */
.nav{
	width: 100%;
	height: 36px;
	background: #dd2727;
}
.nav-main{
	width: 1230px;
	height: 100%;
	/* background: yellow; */
	margin: 0 auto;
	padding-right: 40px;
}
.nav-main-left{
	width: 200px;
	height: 100%;
	/* background: pink; */
	float: left;
}
.nav-main-right{
	width: 1030px;
	height: 100%;
	/* background: yellowgreen; */
	float: left;

}
.caidantu{
	width: 15px;
	height: 12px;
	/* background: green; */
	float: left;
	margin: 12px 12px 0 10px;
}
.caidan{
	font-size: 16px;
	color: white;
	float: left;
	line-height: 36px;
	
}
.nav-main-right li{
	float: left;
	margin-top: 6px;
	position: relative;
	/* overflow: hidden; */

}
.nav-main-right li a{
	padding-right: 16px;
	padding-left: 16px;
	color: white;
	padding-top: 6px;
	/* background: yellow; */
	padding-bottom: 14px;
	background: #DD2828;


}
.nav-main-right li:last-child a{
	padding-right: 0;

}
.maoshang{
	width: 62px;
	height: 22px;
	/* background: red; */
	position: absolute;
	top: -11px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	
}
.nav-main-right li:hover .maoshang{
	/* background: red; */
	transform: translateY(-10px);
	transition: all 1s;
}
/* banner */
.banner{
	width: 100%;

	height: 500px;
	background: black;
	position: relative;
	margin-bottom: 60px;
}
.banner1{
	/* background: url('../img/banner.webp') no-repeat center; */
	/* background-size: 100% 100%; */
	width: 1190px;
	margin: 0 auto;
	/* padding: 0px 10px; */
	height: 500px;
	position: relative;
}
.banner1 li{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.banner1 li a{
	/* 图片和a无间隙 */
	display: block;
	width: 100%;
	height: 100%;
	/* font-size: 0; */
}
.fenlei{
	width: 200px;
	height: 500px;
	background: lightyellow;
	position: absolute;
	top: 0;
	left: 45px;

}
.fenlei li{
	height: 6.25%;
	width: 100%;
	background: #ededed;
}
.fenlei li a{
	font-size: 14px;
	color: black;
	line-height: 30px;
	display: block;
	width: 100%;
	height: 100%;
}
.fenlei-tu{
	width: 16px;
	height: 16px;
	float: left;
	margin-right: 3px;
	padding-left: 15px;
}
.fenlei-zi{
	float: left;
}
.fukuai{
	width: 220px;
	height: 480px;
	/* background: red; */
	position: absolute;
	top: 10px;
	left: 1015px;
}
.item{
	width: 852px;
	height: 500px;
	background: yellow;
	position: absolute;
	left: 200px;
	top: 0;
	z-index: 1;
	display: none;
}
.banner1 img{
	opacity: 0;
	/* display: none; */
}
.banner1 li:first-child a img{
	opacity: 1;
	/* display: block; */
}
/* 220   236 */
.fenlei li a:hover{
	background: white;
	color: red;
}
.fenlei li:nth-child(2n):hover a{
	color: #E22B31;
}
.fenlei li:nth-child(3n):hover a{
	color: #0AA6E8;
}
.fenlei li:nth-child(4n):hover a{
	color: #64C333;
}
.fenlei li:nth-child(5n):hover a{
	color: #19C8A9;
}
.fenlei li:nth-child(7n):hover a{
	color: #F7A945;
}
.fenlei li:nth-child(17):hover a{
	color: #F7A945;
}
.fenlei li:first-child:hover a{
	color: #F7A945;
}
.fenlei li:nth-child(15):hover a{
	color: #F7A945;
}
.fukuai a{
	display: block;
	width: 100%;
	height: 230px;
	background: white;
	opacity: 0.8;
}
.fukuai1{
	margin-bottom: 20px;
}
.fukuai1:hover{
	opacity: 1;
}
.fukuai2:hover{
	opacity: 1;
}
.btn{
	width: 220px;
	height: 20px;
	/* background: red; */
	position: absolute;
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
	top: 450px;
}
.btn li{
	margin-right: 20px;
	float: left;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: 2px solid #a2a2a2;
	background: #a2a2a2;
	cursor: pointer;
}
.btn li:last-child{
	margin-right: 0;
}
.btn li:hover{
	background: #f1f1f1;
}
/* 内容1 */
.content1{
	width: 1230px;
	height: 438px;
	background: black;
	margin: 0 auto;
	margin-bottom: 60px;
	overflow: hidden;
}
.content1-left{
	width: 487px;
	height: 100%;
	background: pink;
	float: left;
}
.content1-right{
	width: 743px;
	height: 100%;
	background: yellow;
	float: left;
}
.content1-right li{
	width: 123px;
	height: 109px;
	background: white;
	float: left;
	border-right: 1px solid #F5F5F5 ;
	border-bottom: 1px solid #F5F5F5;
	position: relative;
}
.content1-right li a:first-child{
	display: block;
	width: 123px;
	height: 62px;
	margin-top: 23px;
}
.content1-right li:nth-child(6n){
	border-right:0;
}
.content1-right li:nth-child(18)~li{
	border-bottom:0;
}
.zhao{
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 0.6s ease;
}
.zhaozi{
	font-size: 12px;
	color: white;
	top: 30px;
	left: 20px;
	position: absolute;
	opacity: 0;
}
.content1-right li:hover .zhaozi{
	opacity: 1;
}
.content1-right li:hover .zhao{
	opacity: 0.7;
}
.enter{
	display: block;
	width: 62px;
	height: 20px;
	background: #FF0000;
	border-radius: 12px;
	position: absolute;
	top: 50px;
	left: 28px;
	opacity: 0;
	font-size: 12px;
	color: white;
	text-align: center;
}
.content1-right li:hover .enter{
	opacity: 1;
}
.content1-left1{
	width: 100%;
	height: 275px;
	background: gray;
	margin-bottom: 9px;
	position: relative;
}
.maobo{
	width: 71px;
	height: 60px;
	display: block;
	position: absolute;
	top: 94px;
	left: 216px;
	transition: all 0.3s ease;
}
.maobo:hover{
	transform: scale(1.2, 1.2);
}
.content1-left1zi{
	width: 100%;
	height: 54px;
	text-align: center;
	font-size: 16px;
	color: white;
	position: absolute;
	top: 200px;
	left: 0;
}
.content1-left1zi::first-line{
	font-size: 24px;
}
.icon-shijian{
	position: absolute;
	top: 234px;
	left: 160px;
	color: white;
}
.content1-left2{
	width: 100%;
	height: 90px;
	background: gray;
}
.content1-left2tu,.content1-left2tu1,.content1-left2tu2{
	float: left;
	width: 160px;
	height: 90px;
	background: red;
	margin-right: 3px;
	position: relative;
}
.content1-left2tu:last-child{
	margin-right: 0;
	width: 161px;
	position: relative;
}
.content1-zhao{
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(70, 72, 72, 0.3);
	opacity: 0;
	position:absolute;
	top: 0;
	left: 0;
}
/* .content1-zhao:hover{
	opacity: 0.5;
	
} */
.maobo2{
	width: 40px;
	height: 32px;
	margin-top: 30px;
	margin-left: 60px;
}
.content1-left2tu:hover .content1-zhao{
	opacity: 1;
	transition: all 0.5s ease;
}
.content1-zhao:hover .maobo2{
	/* opacity: 1; */
	transform: scale(1.1, 1.1);
	transition: all 0.1s ease 0.3s;
}
.content1-left2tu span,.content1-left2tu1 span,.content1-left2tu2 span{
	position: absolute;
	top: 60px;
	left: 18px;
	font-size: 14px;
	color: white;
}
.jiantou{
	width: 18px;
	height: 52px;
	background: rgba(181, 184, 186, 0.6);
	position: absolute;
	top: 0;
	left: 143px;
	padding-top: 38px;
}
.icon-31fanhui2{
	color: white;
}
.content1-left3{
	width: 100%;
	height: 64px;
	background: black;
}
.content1-left3-1{
	width: 30px;
	height: 30px;
	font-size: 14px;
	color: white;
	margin-left: 22px;
	float: left;
	margin-top: 13px;
}
.live{
	width: 28px;
	height: 14px;
	font-size: 14px;
	color: #FD4889;
	float: left;
	transform: rotate(90deg);
	margin-top: 25px;
	margin-left: 4px;
}
.shu{
	font-size: 18px;
	color: #484848;
	float: left;
	margin-top: 20px;
	margin-left: 2px;
}
.icon-laba{
	float: left;
	margin-top: 25px;
	margin-left: 6px;
	color: #AFAFAF;

}
.content1-left3-5{
	font-size: 14px;
	color: #FD4889;
	margin-top: 13px;
	margin-left: 6px;
	float: left;
}
.content1-left3-5::first-line{
	color: white;
}
/* 美丽人生 */
.beautiful,.kuwan,.jujia,.ai,.chuxing,.child{
	width: 1230px;
	height: 480px;
	/* background: red; */
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 20px;
}
.shutiao{
	width: 6px;
	height: 20px;
	background: #ea5f8d;
	float: left;
	margin-top: 10px;
	margin-right: 10px;
}
.zi{
	width: 100%;
	height: 40px;
}
.zi1{
	font-size: 18px;
	width: 98px;
	line-height: 40px;
	float: left;
}
.zi2{
	font-size: 12px;
	width: 200px;
	margin-top: 18px;
	float: left;
}
.zi3{
	width: 578px;
	height: 18px;
	/* background: blue; */
	float: right;
	margin-right: 10px;
	margin-top: 14px;
}
.zi3 li{
	float: left;
	margin-right: 22px;
	font-size: 14px;
	line-height: 18px;
}
.zi3 li a{
	display: block;
	height: 20px;
	color: black;
}
.zi3 li:hover a{
	border-bottom: 1px solid black;
}
.zi3 li:last-child{
	margin-right: 0px;
}
.beautu{
	width: 100%;
	height: 440px;
	background: black;
}
.beautu1{
	width: 246px;
	height: 100%;
	background: #E22B31;
	float: left;
	position: relative;
}
	/* 潮流酷玩 */
.kuwan .beautu1{
	background: #0AA6E8;
}

.kuwan .beautu2-zi{
	color: #0AA6E8;
}
.jujia .shutiao{
	background: #0AA6E8;
}
	/* 居家 */
.jujia .beautu1{
	background: #64C333;
}

.jujia .beautu2-zi{
	color: #64C333;
}
.jujia .shutiao{
	background: #64C333;
}
	/* 打造爱巢 */
.ai .beautu1{
	background: #F15453;
}

.ai .beautu2-zi{
	color: #F15453;
}
.ai .shutiao{
	background: #F15453;
}
 /* 户外出行 */
.chuxing .beautu1{
	background: #19C8A9;
}

.chuxing .beautu2-zi{
	color: #19C8A9;
}
.chuxing .shutiao{
	background: #19C8A9;
}
/* 亲子时光 */
.child .beautu1{
	background: #F7A945;
}

.child .beautu2-zi{
	color: #F7A945;
}
.child .shutiao{
	background: #F7A945;
}
.beautu2{
	width: 735px;
	height: 100%;
	/* background: pink; */
	float: left;
}
.beautu3{
	width: 249px;
	height: 100%;
	background: green;
	float: right;
}
.beautu1-tu{
	display: block;
	width: 246px;
	height: 300px;
	position: relative;
}
.beauzhao{
	display: block;
	width: 100%;
	height: 30px;
	background: white;
	position: absolute;
	top: 300px;
	left: 0px;
	text-align: center;
	color: black;
	font-size: 12px;
	line-height: 30px;
}
.beautu1-zi{
	display: block;
	width: 100%;
	height: 110px;
	font-size: 18px;
	color: white;
	text-align: center;
	line-height: 24px;
	margin-top: 30px;
}
.beautu1-zi::first-line{
	font-size: 22px;
	line-height: 36px;
}
.beautu1-tuzhao{
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.3);
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}
.beautu1:hover .beautu1-tuzhao{
	opacity: 1;
}
.beautu1:hover .beauzhao{
	color: red;
}
.beautu2>a{
	width: 244px;
	height: 220px;
	background: white;
	float: left;
	border-right: 1px solid #F5F5F5;
	border-bottom: 1px solid #F5F5F5;
}
.beautu2 a:nth-child(3)~a{
	border-bottom: 0;
}
.mao{
	width: 100%;
	height: 30px;
	margin-top: -5px;
}
.beautu2-zi{
	width: 147px;
	height: 45px;
	font-size: 12px;
	margin-left: 24px;
	margin-top: 25px;
	color: #EB82BB;
}
.beautu2-zi::first-line{
	font-size: 18px;
	
	color: black;
}
.beautu2-tu{
	width: 150px;
	height: 150px;
	float: right;
	margin-top: 0px;
	transition: all 0.6s ease;
}
.beautu3>div{
	width: 100%;
	height: 146px;
	background: white;
	border-bottom: 1px solid #F5F5F5;
	overflow: hidden;
}
.beautu3 div:last-child{
	border-bottom: 0px;
}
.beautu3-tu{
	width: 100px;
	height: 100px;
	float: right;
	transition: all 0.6s ease;
}
.beautu3-tu:hover{
	transform: translateX(-4px)
}
.beautu2-tu:hover{
	transform: translateX(-4px)
}
/* 内容2 */
.content2{
	width: 1230px;
	height: 478px;
	/* background: black; */
	margin: 0 auto;
	margin-bottom: 10px;
}
.content2 li{
	width: 238px;
	height: 256px;
	background: yellow;
	float: left;
	margin-right: 10px;
}
.content2 li:nth-child(5)~li{
	height: 222px;
	float: left;
}
.content2 li:nth-child(5n){
	margin-right: 0px;
}
.content2-top{
	width: 100%;
	height: 38px;
	background: #dd2727;
}
.content2-topzi{
	font-size: 18px;
	color: white;
	width: 72px;
	height: 100%;
	height: 38px;
	line-height: 38px;
	float: left;
}
.icon-Txu,.icon-shouji,.icon-huangguan,.icon-jisutuikuan,.icon-xiai{
	float: left;
	margin-top: 9px;
	margin-left: 71px;
	margin-right: 5px;
}
.content2-center{
	display: block;
	width: 100%;
	height: 220px;
	background: white;
	overflow: hidden;
}
.content2-centerzi{
	width: 238px;
	height: 46px;
	text-align: center;
	margin-bottom: 8px;
	margin-top: 21px;
	font-size: 12px;
	color: gray;
	line-height: 24px;
}
.content2-centerzi::first-line{
	font-size: 22px;
	color:black;
}
.content2-centertu{
	width: 140px;
	height: 140px;
	border-radius: 50%;
	background: #F8F8F8;
	margin: 0 auto;

}
.content2-center1{
	display: block;
	width: 100%;
	height: 222px;
	background: white;
	overflow: hidden;
}
.content2-centertu:hover img{
	transform: scale(1.1, 1.1);
	transition: all 0.6s ease;
}
hr{
	margin: 0 auto;
}
/* 猜你喜欢 */
.like{
	width: 1230px;
	height: 725px;
	/* background: black; */
	margin: 0 auto;
}
.like-top{
	width: 100%;
	height: 50px;
	/* background: red; */
}
.like-bottom{
	width: 100%;
	height: 650px;
	/* background: lightyellow; */
}
.like-top>hr{
	margin-top: 12px;
	float: left;
	border: 0;
	border-top: 1px solid gray;
	margin-left: 10px;
	margin-right: 10px;
}
.like-top{
	padding-top: 25px;

}
.like-top hr:first-child{
	margin-left: 522px;
}
.like-top>div{
	float: left;
	font-size: 18px;
	color: gray;
	margin: 0 auto;
	/* background: black; */
}
/* 236 316 */
.like-bottom{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.like-bottom1{
	display: block;
	width: 236px;
	height: 316px;
	border: 1px solid white;
	background: white;
	position: relative;
	/* overflow: hidden; */
}
.like-bottom1:hover{
	border: 1px solid #CC0000;
}
.like-bottom1-tu{
	width: 100%;
	height: 230px;
	/* background: yellow; */
}
.like-bottom1-zi{
	width: 100%;
	height: 86px;
	color: black;
	/* background: green; */
	overflow: hidden;
}
.like-bottom1-zi1{
	font-size: 14px;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 12px;
}
.like-bottom1-zi2{
	font-size: 12px;
	color: red;
	line-height: 36px;
	margin-left: 10px;
}
.like-bottom1-tu-zhao{
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.3);
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}
.like-bottom1-tu-zhao:hover{
	opacity: 1;
}
/* 右固定 */
.rightfix{
	width: 35px;
	height: 662px;
	background: black;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 999;
}
.rightfix1{
	display: block;
	width: 100%;
	height: 35px;
	/* background: red; */
	margin-top: 100px;
	text-align: center;
	margin-bottom: 20px;
}
.rightfix1:hover{
	background: #cc0000;
}
.rightfix2{
	width: 100%;
	height: 98px;
	/* background: red; */
	display: block;
}
.rightfix2zi{
	font-size: 12px;
	text-align: center;
	margin-bottom: 12px;
	color: white;
}
.rightfix2>hr{
	width: 80%;
	color: #444444;
}
.rightfix2:hover{
	background: #cc0000; 
}
.rightfix2:hover .rightfix2-line{
	opacity: 0;
}
.rightfix3{
	display: block;
	width: 100%;
	height: 35px;
	/* background: red; */
	text-align: center;
	margin-bottom: 10px;
}
.rightfix3:hover{
	background: #cc0000; 
}
.rightfix a:nth-of-type(8){
	margin-top: 80px;
}
/* 36	332 */
.leftfix{
	width: 38px;
	height: 332px;
	background: black;
	position: fixed;
	top: 279px;
	left: 1px;

}
.leftfix1{
	display: block;
	width: 100%;
	height: 34px;
	background: #626262;
	margin-bottom: 1px;
	color: white;
	font-size: 11px;
	text-align: center;
	line-height: 14px;
	padding-top: 2px;
}
.leftfix div:first-child{
	background: #cc0000; 
	padding-top: 10px;
	height: 26px;
}
.leftfix div:last-child{
	background: #ABABAB; 
	padding-top: 5px;
	height: 18px;
	line-height: 8px;
	cursor: pointer;
}
/* 广告 */
.guanggao{
	width: 1230px;
	height: 90px;
	margin: 0 auto;
	margin-bottom: 20px;
}
/* end图片开始 */
/* .end-main{
	width: 1226px;
	height: 69px;
	border-bottom: 1px solid #d1d7dc;
	display: flex;
	align-items: center;
	margin: 0 auto;
}
.end-main img{
	display: block;
	margin: 0 auto;
	width: 62px;
	height: 35px;
} */
/* end图片结束 */
/* end字开始 */
.end-top{
	width: 1226px;
	height: 363px;
	
	margin: 0 auto;
}
.end-top1{
	width: 100%;
	height: 151px;
	display: block;
	background: #fff;
	border-bottom: 1px solid #ededed;
	margin: 0 auto;
	display: flex;
    align-items: center;
}
.end-top-1{
	width: 252px;
	height: 50px;
	margin-left: 50px;
	border-right: 1px solid #ccc;
}
.icon-zhengpinbaozhang,.icon-tesefuwu,.icon-qitianwuliyoutuihuanhuo,.icon-bangzhuzhongxin{
	color: #c3211f;
	float: left;
	margin-right: 16px;
}
.end-top-zi{
	float: left;
}
.end-top-zi1{
	font-size: 16px;
	color: #141414;
	font-weight: bold;
}
.end-top-zi2{
	font-size: 16px;
	color: #878787;	
}
.end-top2{
	width: 1226px;
	height: 176px;
	padding-top: 29px;
   padding-left: 52px;
	margin: 0 auto;
	box-sizing: border-box;
}
.end-top2 ul{
   float: left;
   margin-right: 174px;
}
.end-top2-1 li{
	font-size: 12px;
	color: #8b8b8b;
}
.end-top2-1 li:first-child{
	font-size: 14px;
	color: #646464;
}
.end-er{
    width: 100px;
    height: 130px;
    float: left;
}
.end-er p{
	font-size: 16px;
	color: #646464;
	margin-bottom: 10px;
}
.end-mao img{
	width:68px;
	height: 25px;
	margin-left: 51px;
	margin-top: 10px;
}
.end-bottom{
	width: 100%;
	height: 200px;
	background: #000;
	border-top: 2px solid #c40000;
}
.end-bottom-main{
	width: 1226px;
	height: 100%;
	margin: 0 auto;
}
.end-bottom1,.end-bottom2,.end-bottom4{
	width: 100%;
	height: 35px;

}
.end-bottom1 li{
	margin-right: 8px;
	float: left;
}
.end-bottom1 li a{
    font-size: 12px;
    color: #fff;
    display: block;
    line-height: 35px;
}
.end-bottom2 li a{
	font-size: 12px;
    color: #fff;
    display: block;
    line-height:12px;
   margin-right: 8px;
    margin-left: 4px;
}
.end-bottom2 li{
	height: 12px;
    float: left;
    border-right: 1px solid #fff;
    margin-top: 6px;
}
.end-bottom2 li:first-child a{
	margin-left: 0;
}
.end-bottom2 li:last-child{
	border-right: 0;
}
.end-bottom3{
	width: 100%;
	height: 19px;
}
.end-bottom3 p{
	float: left;
	font-size: 12px;
	color: #a4a4a4;
	margin-right: 70px;
}
.end-bottom4 p{
   float: left;
	font-size: 12px;
	color: #a4a4a4;
	line-height: 35px;
	margin-right: 70px;
}
.end-bottom4-2-tu{
	width: 20px;
	height: 20px;
	float: left;
}
.end-bottom4-2{
	float: left;
}
.end-bottom4-2 img{
	float: left;
	margin-top: 9px;
}
.end-bottom5{
	font-size: 12px;
	line-height: 15px;
	color: #686868;
}
.end-bottom6-1{
	width: 73px;
	height: 30px;
	float: left;
}
.end-bottom6{
	margin-top: 16px;
}
.end-bottom6 img{
	margin-right: 14px;
}
/* end字结束 */
